AzureResourceGroup1/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "InputEmployeeJson": {
              "type": "Compose",
              "inputs": {
                "firstName": "Paco",
                "lastName": "de la Cruz",
                "location": "Melbourne",
                "country": "Australia",
                "department": "Information Technologies",
                "email": "paco@keepyourselfactive.com.au"
              },
              "runAfter": {}
            },
            "InputWorkout": {
              "type": "Compose",
              "inputs": {
                "user": "paco@keepyourselfactive.com.au",
                "workouts": [
                  {
                    "date": "2017-05-22",
                    "type": "run",
                    "distanceInMiles": 3.73,
                    "time": "31:21",
                    "energyInCalories": 533,
                    "elevationInFeet": 119
                  },
                  {
                    "date": "2017-05-24",
                    "type": "run",
                    "distanceInMiles": 3.74,
                    "time": "32:05",
                    "energyInCalories": 529,
                    "elevationInFeet": 121
                  },
                  {
                    "date": "2017-05-27",
                    "type": "run",
                    "distanceInMiles": 3.73,
                    "time": "31:12",
                    "energyInCalories": 534,
                    "elevationInFeet": 118
                  }
                ]
              },
              "runAfter": {
                "InputEmployeeJson": [
                  "Succeeded"
                ]
              }
            },
            "ParseInputEmployeeJson": {
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('InputEmployeeJson')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "department": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {
                "InputStepsCount": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "body": "@outputs('Compose')"
              },
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              }
            },
            "InputStepsCount": {
              "type": "Compose",
              "inputs": {
                "user": "paco@keepyourselfactive.com.au",
                "steps": [
                  {
                    "date": "2017-05-22",
                    "steps": 11813
                  },
                  {
                    "date": "2017-05-23",
                    "steps": 8340
                  },
                  {
                    "date": "2017-05-24",
                    "steps": 10980
                  },
                  {
                    "date": "2017-05-25",
                    "steps": 9753
                  },
                  {
                    "date": "2017-05-26",
                    "steps": 8798
                  },
                  {
                    "date": "2017-05-27",
                    "steps": 12531
                  },
                  {
                    "date": "2017-05-28",
                    "steps": 7689
                  }
                ]
              },
              "runAfter": {
                "InputWorkout": [
                  "Succeeded"
                ]
              }
            },
            "ParseInputWorkoutJson": {
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('InputWorkout')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "string"
                    },
                    "workouts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "distanceInMiles": {
                            "type": "number"
                          },
                          "time": {
                            "type": "string"
                          },
                          "energyInCalories": {
                            "type": "number"
                          },
                          "elevationInFeet": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "date",
                          "type",
                          "distanceInMiles",
                          "time",
                          "energyInCalories",
                          "elevationInFeet"
                        ]
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "ParseInputEmployeeJson": [
                  "Succeeded"
                ]
              }
            },
            "ParseInputStepsJson": {
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('InputStepsCount')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "string"
                    },
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "steps": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "date",
                          "steps"
                        ]
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "ParseInputWorkoutJson": [
                  "Succeeded"
                ]
              }
            },
            "Compose": {
              "type": "Compose",
              "inputs": {
                "country": "@body('ParseInputEmployeeJson')?['country']",
                "department": "@body('ParseInputEmployeeJson')?['department']",
                "email": "@body('ParseInputEmployeeJson')?['email']",
                "GivenName": "@body('ParseInputEmployeeJson')?['firstName']",
                "FamilyName": "@body('ParseInputEmployeeJson')?['lastName']",
                "office": "@body('ParseInputEmployeeJson')?['location']"
              },
              "runAfter": {
                "ParseInputStepsJson": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('ParseInputWorkoutJson')?['workouts']",
              "actions": {
                "Compose_2": {
                  "type": "Compose",
                  "inputs": {
                    "date": "@items('For_each')?['date']",
                    "distane": "@items('For_each')?['distanceInMiles']",
                    "enegy": "@items('For_each')?['energyInCalories']",
                    "time": "@items('For_each')?['time']",
                    "type": "@items('For_each')?['type']"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {},
                "method": "GET"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}